@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'DM Serif Display';
  src:
    url('/fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
    url('/fonts/DMSerifDisplay-Regular.woff') format('woff'),
    url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-display: swap;
}